@model Employee

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Employee</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="EmployeeId" />
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" type="text" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Otchestvo"></label>
            <input asp-for="Otchestvo" type="text" class="form-control" />
            <span asp-validation-for="Otchestvo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" type="text" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" type="text" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" type="text" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentId"></label>
            <input asp-for="DepartmentId" type="text" class="form-control" />
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning" style="width: 150px">Edit</button>
        <a asp-controller="Employee" asp-action="employee" class="btn btn-secondary" style="width: 150px">
            Back To List
        </a>
    </div>
</form>