@model Department

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Department</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="DepartmentId" />
        <div class="mb-3">
            <label asp-for="DepartmentName"></label>
            <input asp-for="DepartmentName" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="StoreId"></label>
            <input asp-for="StoreId" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DirectorId"></label>
            <input asp-for="DirectorId" type="text" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px">Delete</button>
        <a asp-controller="Database" asp-action="department" class="btn btn-secondary" style="width: 150px">
            Back To List
        </a>
    </div>
</form>
